:root {
	--foundation--orange-light: #fff1e6;
	--foundation--orange-light: #ffe9d9;
	--foundation--orange-light: #fed2b0;
	--foundation--orange-normal: #fd6f00;
	--foundation--orange-normal: #e46400;
	--foundation--orange-normal: #ca5900;
	--foundation--orange-dark: #be5300;
	--foundation--orange-dark: #984300;
	--foundation--orange-dark: #723200;
	--foundation--orange-darker: #592700;
	--foundation--black-light: #e6e6e6;
	--foundation--black-light: #d9d9d9;
	--foundation--black-light: #b0b0b0;
	--foundation--black-normal: #000;
	--foundation--black-normal: #000;
	--foundation--black-normal: #000;
	--foundation--black-dark: #000;
	--foundation--black-dark: #000;
	--foundation--black-dark: #000;
	--foundation--black-darker: #000;
	--foundation--white-light: #fefefe;
	--foundation--white-light: #fefefe;
	--foundation--white-light: #fdfdfd;
	--foundation--white-normal: #f8f8f8;
	--foundation--white-normal: #dfdfdf;
	--foundation--white-normal: #c6c6c6;
	--foundation--white-dark: #bababa;
	--foundation--white-dark: #959595;
	--foundation--white-dark: #707070;
	--foundation--white-darker: #575757;
	--foundation--grey-light: #e9e9e9;
	--foundation--grey-light: #ddd;
	--foundation--grey-light: #b9b9b9;
	--foundation--grey-normal: #1e1e1e;
	--foundation--grey-normal: #1b1b1b;
	--foundation--grey-normal: #181818;
	--foundation--grey-dark: #171717;
	--foundation--grey-dark: #121212;
	--foundation--grey-dark: #0d0d0d;
	--foundation--grey-darker: #0b0b0b;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	width: 141px;
	height: 43px;
	background: linear-gradient(129deg, #fd6f00 0%, #e46400 100%);

	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.03em;
	color: #fff;
}