@use "sass:math"; // Підключення бібліотек
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	background-color: var(--foundation--grey-dark);
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт завантажений
	[data-fls-loaded] & {}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {

	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
}

@else {

	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
		}

		@else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}

		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}

		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}

		@media (max-width: toEm($mobile)) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
:root {
	--foundation--orange-light: #fff1e6;
	--foundation--orange-light: #ffe9d9;
	--foundation--orange-light: #fed2b0;
	--foundation--orange-normal: #fd6f00;
	--foundation--orange-normal: #e46400;
	--foundation--orange-normal: #ca5900;
	--foundation--orange-dark: #be5300;
	--foundation--orange-dark: #984300;
	--foundation--orange-dark: #723200;
	--foundation--orange-darker: #592700;
	--foundation--black-light: #e6e6e6;
	--foundation--black-light: #d9d9d9;
	--foundation--black-light: #b0b0b0;
	--foundation--black-normal: #000;
	--foundation--black-normal: #000;
	--foundation--black-normal: #000;
	--foundation--black-dark: #000;
	--foundation--black-dark: #000;
	--foundation--black-dark: #000;
	--foundation--black-darker: #000;
	--foundation--white-light: #fefefe;
	--foundation--white-light: #fefefe;
	--foundation--white-light: #fdfdfd;
	--foundation--white-normal: #f8f8f8;
	--foundation--white-normal: #dfdfdf;
	--foundation--white-normal: #c6c6c6;
	--foundation--white-dark: #bababa;
	--foundation--white-dark: #959595;
	--foundation--white-dark: #707070;
	--foundation--white-darker: #575757;
	--foundation--grey-light: #e9e9e9;
	--foundation--grey-light: #ddd;
	--foundation--grey-light: #b9b9b9;
	--foundation--grey-normal: #1e1e1e;
	--foundation--grey-normal: #1b1b1b;
	--foundation--grey-normal: #181818;
	--foundation--grey-dark: #171717;
	--foundation--grey-dark: #121212;
	--foundation--grey-dark: #0d0d0d;
	--foundation--grey-darker: #0b0b0b;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	width: 141px;
	height: 43px;
	background: linear-gradient(129deg, #fd6f00 0%, #e46400 100%);

	font-weight: 700;
	@include adaptiveValue("font-size", 16, 14);
	letter-spacing: 0.03em;
	color: #fff;

	@media (max-width: toEm($mobile)) {
		width: 111px;
		height: 39px;
	}

	@media (max-width: toEm($mobileSmall)) {
		width: 85px;
		height: 33px;
	}

	&_black {
		background: none;
		border: 2px solid var(--foundation--white-dark);
		border-radius: 8px;
		padding: 12px 40px;
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 14, 0, 1440, 435);
		letter-spacing: 0.03em;
		text-align: center;
		width: auto;
		height: auto;
		color: var(--foundation--white-dark);

		@media (max-width:toEm($mobile)) {
			padding: 10px 30px;
		}

		@media (max-width: toEm($mobileSmall)) {
			padding: 8px 20px;
		}
	}

	&_hero {
		width: 156px;
		height: 48px;

		@media (max-width:toEm($mobile)) {
			width: 140px;
			height: 40px;
		}

		@media (max-width: toEm($mobileSmall)) {
			width: 93px;
			height: 33px;
		}
	}

	&_download {
		width: toRem(224);
		height: toRem(48);
		gap: toRem(10);

		@media (max-width:toEm($tablet)) {
			width: toRem(205);
			height: toRem(44);
		}

		@media (max-width:toEm($mobile)) {
			width: toRem(186);
			height: toRem(40);
		}
	}
}

.hide {
	visibility: hidden;
	position: absolute;
	display: none;
}

.social {

	display: flex;
	align-items: center;
	gap: toRem(20);

	@media (max-width:toEm($mobile)) {
		justify-content: center;
	}


	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		border: 0.70px solid var(--foundation--white-darker);
		padding: toRem(8);
		background-color: rgba(255, 255, 255, 0.04);
	}
}

.info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	@include adaptiveValue("padding-bottom", 80, 24);
}

.title {
	font-weight: 700;
	@include adaptiveValue("font-size", 40, 24);
	letter-spacing: 0.03em;
	text-align: justify;
	color: var(--foundation--white-light);
	text-align: center;
	@include adaptiveValue("padding-bottom", 18, 14);
}

.text {
	font-weight: 500;
	@include adaptiveValue("font-size", 20, 16);
	line-height: 160%;
	letter-spacing: 0.03em;
	text-align: justify;
	color: var(--foundation--white-dark);
	text-align: center;

	@media (max-width:toEm($mobile)) {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.circle {
	position: relative;
	--size: 131px;
	width: var(--size);
	height: var(--size);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width:toEm($tablet)) {
		--size: 110px;
		width: var(--size);
		height: var(--size);
	}

	@media (max-width:toEm($mobile)) {
		--size: 90px;
		width: var(--size);
		height: var(--size);
	}
}

svg {
	position: absolute;
	width: 100%;
	height: 100%;
	/* Важливо: оскільки ми обертаємо SVG, градієнт теж обернеться. 
      Якщо хочете змінити напрямок кольорів, редагуйте x1/y1 в HTML */
	transform: rotate(90deg) scaleX(-1);
}

circle {
	fill: none;
	stroke-width: 11;
	stroke: rgba(217, 217, 217, 0.2);
}

circle:last-child {
	/* Використовуємо посилання на градієнт */
	stroke: var(--c);
	stroke-dasharray: 283;
	stroke-dashoffset: calc(283 - (283 * var(--p)) / 100);
	stroke-linecap: round;
	transition: stroke-dashoffset 0.6s ease;
}