<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
	<section class="hero">
		<div class="hero__container">
			<div class="hero__body">
				<div class="hero__content">
					<div class="hero__info">
						<p class="hero__suptitle">
							Hi I am
						</p>
						<p class="hero_name">
							Mahmood Fazile
						</p>
						<p class="hero__title-profession">
							UI/UX designer
						</p>
					</div>
					<div class="hero__buttons-social">
						<a href="#" class="hero__link"><img src="@img/inst.svg" alt="Image"></a>
						<a href="#" class="hero__link"><img src="@img/in.svg" alt="Image"></a>
						<a href="#" class="hero__link"><img src="@img/basket-icon.svg" alt="Image"></a>
						<a href="#" class="hero__link"><img src="@img/be.svg" alt="Image"></a>
					</div>
					<div class="hero__buttons-action">
						<a href="#" class="hero__button button">Hire Me</a>
					</div>
				</div>
				<div class="hero__visual-info">
					<div class="hero__pictures-user">
						<img src="@img/men.jpg" alt="Image">
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
