<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__body">
			<div class="footer__logo">
				<a href="#" class="footer__link-logo">
					<img src="@img/logo.svg" alt="Image">
				</a>
			</div>
			<div class="footer__menu">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="#" data-fls-scrollto-header data-fls-scrollto-top="30" data-fls-scrollto="#home" class="footer__link">Home</a>
					</li>
					<li class="footer__item">
						<a href="#" data-fls-scrollto-header data-fls-scrollto-top="30" data-fls-scrollto="#services" class="footer__link">Services</a>
					</li>
					<li class="footer__item">
						<a href="#" data-fls-scrollto-header data-fls-scrollto-top="30" data-fls-scrollto="#about-me"  class="footer__link">About me</a>
					</li>
					<li class="footer__item">
						<a href="#" data-fls-scrollto-header data-fls-scrollto-top="30" data-fls-scrollto="#portfolio"  class="footer__link">Portfolio</a>
					</li>
					<li class="footer__item">
						<a href="#" data-fls-scrollto-header data-fls-scrollto-top="30" data-fls-scrollto="#contact-me"  class="footer__link">Contact me</a>
					</li>
				</ul>
			</div>
			<div class="footer__buttons-social social">
				<a href="#" class="social__link --icon-inst"></a>
				<a href="#" class="social__link --icon-in"></a>
				<a href="#" class="social__link --icon-dribbble"></a>
				<a href="#" class="social__link --icon-behance"></a>
			</div>
			<div class="footer__contact">
				<a href="#" class="footer__contact-info footer__mail --icon-mail">Mahmood.fazile7005@gmail.com</a>
				<a href="#" class="footer__contact-info footer__phone --icon-phone">+93 729 107 005</a>
			</div>
			<div class="footer__copyright">
				<p class="footer__copyright-text">&copy;Designed by @mahmood.fazile UI/UX designer</p>
			</div>
		</div>
	</div>
</footer>